---
import './vertical-module.css';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  alt?: any,
  imagePath: string,
}


const { alt = "", imagePath } = Astro.props;
---

<div class="vertical-module">

  <img src=`/images/${imagePath}` alt={alt} class="vertical-module__image" />

  <slot/>

</div>